.item{
  background-color: #090c33;
  color: #a0accb;
  padding: 5px;
  margin-bottom: 5px;
}

.add-item{
  display: flex;
  margin-bottom: 5px;
}

.add-item__input{
  background-color: #000;
  color: #cccccc;
  padding: 1px 5px;
  border: 1px solid #6f888d;
}

.add-item__input:focus{
  outline: none;
}


