<h1 class="main__title">Hello. Welcome to embercraft</h1>
<navs class="main__nav">
  {{#link-to 'home.items' class='nav__link'}}Items{{/link-to}}
  {{#link-to 'home.recipes' class='nav__link'}}Recipes{{/link-to}}
  {{#link-to 'home.chain' class='nav__link'}}Chain{{/link-to}}
</navs>
<section class="main__content">
  {{outlet}}
</section>