<h1>Hello. Welcome to embercraft</h1>
<navs>
  {{#link-to 'home.items'}}Items{{/link-to}}
  {{#link-to 'home.recipes'}}Recipes{{/link-to}}
  {{#link-to 'home.chain'}}Chain{{/link-to}}
</navs>
<section>
  {{outlet}}
</section>